In [1]:
from pandas import Series

In [2]:
import pandas as pd

In [3]:
pd.__version__

'0.23.0'

In [4]:
Obj = Series([67, 78, -56, 13])

In [5]:
Obj

0    67
1    78
2   -56
3    13
dtype: int64

In [6]:
type(Obj)

pandas.core.series.Series

In [7]:
Obj.values

array([ 67,  78, -56,  13])

In [8]:
Obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
Obj2 = Series([67, 78, -56, 13], index=['a', 'b', 'c', 'd'])

In [10]:
Obj2

a    67
b    78
c   -56
d    13
dtype: int64

In [11]:
Obj2.values

array([ 67,  78, -56,  13])

In [12]:
Obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
Obj2[Obj2>3]

a    67
b    78
d    13
dtype: int64

In [15]:
Obj2['b']

78

In [16]:
'd' in Obj2

True

In [17]:
dict = {'Futebol':5200, 'Tenis':120, 'Natação':689, 'Volleyball':1550}

In [18]:
Obj3 = Series(dict)

In [19]:
Obj3

Futebol       5200
Tenis          120
Natação        689
Volleyball    1550
dtype: int64

In [20]:
esportes = ['Futebol', 'Tenis', 'Natação', 'Basketball']

In [21]:
Obj4 = Series(esportes)

In [22]:
Obj4

0       Futebol
1         Tenis
2       Natação
3    Basketball
dtype: object

In [23]:
esportes.append('Bola')

In [24]:
esportes

['Futebol', 'Tenis', 'Natação', 'Basketball', 'Bola']

In [29]:
Obj4 = Series(dict, esportes)

In [30]:
Obj4

Futebol       5200.0
Tenis          120.0
Natação        689.0
Basketball       NaN
Bola             NaN
dtype: float64

In [31]:
pd.isnull(Obj4)

Futebol       False
Tenis         False
Natação       False
Basketball     True
Bola           True
dtype: bool

In [32]:
pd.notnull(Obj4)

Futebol        True
Tenis          True
Natação        True
Basketball    False
Bola          False
dtype: bool

#### Concatenando Series

In [33]:
Obj3 + Obj4

Basketball        NaN
Bola              NaN
Futebol       10400.0
Natação        1378.0
Tenis           240.0
Volleyball        NaN
dtype: float64

In [34]:
Obj4.name = 'população'

In [35]:
Obj4

Futebol       5200.0
Tenis          120.0
Natação        689.0
Basketball       NaN
Bola             NaN
Name: população, dtype: float64

In [37]:
Obj4.index.name = 'esporte'

In [38]:
Obj4

esporte
Futebol       5200.0
Tenis          120.0
Natação        689.0
Basketball       NaN
Bola             NaN
Name: população, dtype: float64